<x-window-main width="700" height="500" stylesheet="/usr/share/css/komunikado/main.css">
  <h1>Komunikado</h1>

  

		<section id="k-channel">
			<h2>Chose your conversation</h2>
			<ul>
				<li id="channel-public"><div class="boutton" title="channel public"><i class="fa fa-chevron-down"></i>channel public</div>
					<ul class="l-channel">
					</ul>
				</li>
				<li id="friends"><div class="boutton" title="friends"><i class="fa fa-chevron-up"></i>friends</div>
					<ul class="l-channel">
						<li><i class="fa fa-circle co"></i><p class="pseudo">Joseph Staline</p></li>
						<li><i class="fa fa-circle afk"></i><p class="pseudo">Adolf Hitler</p></li>
						<li><i class="fa fa-circle deco"></i><p class="pseudo">Francisco Franco</p></li>
					</ul>
				</li>
				<li class="dossié-perso"><div class="boutton" title="Dossié personnel ce titre est un exemple ne pas s'énerver">Dossié personnel ce titre est un exemple ne pas s'énerver<i class="fa fa-chevron-down"></i></div>
				</li>
			</ul>

		</section>
		<section id="k-chat">
			<div class="chat" data-username="staline">
				<div class="profil">
					<div class="profil-information">
						<p title="Joseph Staline">Joseph Staline<p>
						<div class="barre-icone">
							<i class="fa fa-phone ico"></i>
							<i class="fa fa-video-camera ico"></i>
							<i class="fa fa-microphone ico"></i>
							<i class="fa fa-power-off ico"></i>
						</div>
					</div>
					<div class="profil-image">
						<img src="usr/share/images/komunikado/staline.jpg"/>
					</div>
				</div>
				<div class="conversation"></div>
				<textarea placeholder="Envoyer un message"></textarea>
			</div>
			<div class="chat">
				<div class="profil">
					<div class="profil-information">
						<p title="Point Godwin">Adolf Hitler<p>
						<div class="barre-icone">
							<i class="fa fa-phone ico"></i>
							<i class="fa fa-video-camera ico"></i>
							<i class="fa fa-microphone ico"></i>
							<i class="fa fa-power-off ico"></i>
						</div>
					</div>
					<div class="profil-image">
						<img src="usr/share/images/komunikado/hitler.jpg"/>
					</div>
				</div>
				<div class="conversation"></div>
				<textarea placeholder="Envoyer un message"></textarea>
			</div>
			<div class="chat default">
				<div class="profil">
					<div class="profil-information">
						<p>...<p>
						<div class="barre-icone">
							<i class="fa fa-plus ico none"></i>
						</div>
					</div>
					<div class="profil-image">
						<img src="usr/share/images/komunikado/default.jpg"/>
					</div>
				</div>
				<div class="conversation"></div>
			</div>
			<div class="chat">
				<div class="profil">
					<div class="profil-information">
						<p title="Psy">Kim Jong-il<p>
						<div class="barre-icone">
							<i class="fa fa-phone ico"></i>
							<i class="fa fa-video-camera ico"></i>
							<i class="fa fa-microphone ico"></i>
							<i class="fa fa-power-off ico"></i>
						</div>
					</div>
					<div class="profil-image">
						<img src="usr/share/images/komunikado/kim.jpg"/>
					</div>
				</div>
				<div class="conversation"></div>
				<textarea placeholder="Envoyer un message"></textarea>
			</div>
			<div class="chat">
				<div class="profil">
					<div class="profil-information">
						<p title="Benito Mussolini">Benito Mussolini<p>
						<div class="barre-icone">
							<i class="fa fa-phone ico"></i>
							<i class="fa fa-video-camera ico"></i>
							<i class="fa fa-microphone ico"></i>
							<i class="fa fa-power-off ico"></i>
						</div>
					</div>
					<div class="profil-image">
						<img src="usr/share/images/komunikado/mussolini.jpg"/>
					</div>
				</div>
				<div class="conversation"></div>
				<textarea placeholder="Envoyer un message"></textarea>
			</div>
			<div class="chat">
				<div class="profil">
					<div class="profil-information">
						<p title="Francisco Franco">Francisco Franco<p>
						<div class="barre-icone">
							<i class="fa fa-phone ico"></i>
							<i class="fa fa-video-camera ico"></i>
							<i class="fa fa-microphone ico"></i>
							<i class="fa fa-power-off power ico"></i>
						</div>
					</div>
					<div class="profil-image">
						<img src="usr/share/images/komunikado/franco.jpg"/>
					</div>
				</div>
				<div class="conversation">
					<p>[16:02]Franco: Salut</p>
					<p>[16:03]Moi: Salut, ça va?</p>
					<p>[16:04]Franco: Très bien, je pensais ce soir on fait une résoi avec Hitler, sa te dit de venir j'avais prévue d'inviter aussi Mussolini et plein de meuf Ray!</p>
					<p>[16:20]Moi: Ouai cool j'amènerai de la tiz!</p>
				</div>

				<textarea placeholder="Envoyer un message"></textarea>
			</div>
		</section>
</x-window-main>
